<!-- views/welcome.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambopay SMS API Key</title>
  <link rel="icon" type="image/png" href="/css/Icon Logo.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/generate-key">Generate Key</a></li>
      <li><a href="/api-keys">View API Key</a></li>
      <li><a href="/create-user">Create User</a></li>
      <li><a href="/view-users">View Users</a></li>
      <li class="logout"><a href="/logout">Logout</a></li>
    </ul>
  </nav>

  <h1>Welcome to Cambopay SMS API Key Generator</h1>
</body>
</html>
